<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.examples.UserListSpring"  name="userListSpring">
		<property name="userList">
			<list>
				<value>Abhishek</value>
				<value>Ronak</value>
				<value>Riken</value>
				<value>Ratan</value>
				<value>Sunil</value>
			</list>
		</property>
	</bean>
</beans>
